@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  body {
    @apply mx-5 my-5;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(96, 94, 94);
    width: 20px;
    border-radius: 50px;
  }
}

.dark {
  background-color: #132a2a;
  color: #ffffffcf;
}

.light {
  background-color: #CDE8E5;
  color: #000;
}

table tr td {
  border: 1px solid #38443a;
}

/* Light Theme */
.light .recharts-layer text {
  fill: #333333 !important; /* Dark Gray */
}

/* Dark Theme */
.dark .recharts-layer text {
  fill: #FFFFFF !important; /* White */
}

